.1_3 { 
	overflow:hidden;
}
.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1582px;
	height:978px;
	position:absolute;
}
.e71_30 { 
	background-color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:1601px;
	height:82px;
	position:absolute;
	left:-19px;
	top:133px;
}
.71_30 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e71_31 { 
	background-color:rgba(0, 0, 0, 1);
	width:1674px;
	height:147px;
	position:absolute;
	left:-19px;
	top:-14px;
}
.e75_2 { 
	background-color:rgba(0, 0, 0, 1);
	width:1674px;
	height:89px;
	position:absolute;
	left:-19px;
	top:889px;
}
.e71_32 { 
	width:157px;
	height:196px;
	position:absolute;
	left:700px;
	top:7px;
	background-image:url(corinthians.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_33 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:22px;
	position:absolute;
	left:1162px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e71_34 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:22px;
	position:absolute;
	left:1355px;
	top:161px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e71_35 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:22px;
	position:absolute;
	left:335px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e71_36 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:22px;
	position:absolute;
	left:967px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e71_45 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:23px;
	position:absolute;
	left:518px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e78_4 { 
	background-color:rgba(0, 0, 0, 1);
	width:1601px;
	height:15px;
	position:absolute;
	left:-19px;
	top:210px;
}
.e73_2 { 
	color:rgba(0, 0, 0, 1);
	width:753px;
	height:544px;
	position:absolute;
	left:51px;
	top:273px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e73_184 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:644px;
	height:249px;
	position:absolute;
	left:839px;
	top:333px;
}
.e73_188 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:19px;
	position:absolute;
	left:1091px;
	top:542px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e73_185 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:1086px;
	top:370px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e71_37 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:22px;
	position:absolute;
	left:149px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e77_3 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:22px;
	position:absolute;
	left:1135px;
	top:512px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e78_5 { 
	width:84px;
	height:46px;
	position:absolute;
	left:134px;
	top:47px;
	background-image:url(nike.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_8 { 
	width:144px;
	height:67px;
	position:absolute;
	left:927px;
	top:40px;
	background-image:url(neo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_6 { 
	width:62px;
	height:47px;
	position:absolute;
	left:335px;
	top:47px;
	background-image:url(fiel.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_7 { 
	width:143px;
	height:64px;
	position:absolute;
	left:472px;
	top:38px;
	background-image:url(sorte.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_9 { 
	width:40px;
	height:39px;
	position:absolute;
	left:1141px;
	top:54px;
	background-image:url(insta.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_10 { 
	width:34px;
	height:34px;
	position:absolute;
	left:1208px;
	top:59px;
	background-image:url(face.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_11 { 
	width:35px;
	height:33px;
	position:absolute;
	left:1269px;
	top:59px;
	background-image:url(twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_12 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1331px;
	top:61px;
	background-image:url(youtube.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e79_14 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:22px;
	position:absolute;
	left:1091px;
	top:467px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e79_13 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:22px;
	position:absolute;
	left:1091px;
	top:422px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}